@import "../../../style/spacings.scss";
@import "../../../style/colors.scss";

$header-height: 52px;

ul {
  list-style: none;
  padding: 25px 25px 50px 25px;
  align-items: center;
  gap: $xxs;
  margin: $none;
  padding: $none;

  li {
    padding: $xxs;
    border: 1px solid $primary;
    border-radius: $xxxs;

    a {
      color: $primary;
      cursor: pointer;
    }
  }
}

 .sidebar-body .sidebar-nav .nav-item {
  position: relative;
}

 .sidebar-header {
  background: #0c1427;
  border-bottom: 1px solid #344258;
  border-right: 1px solid #344258;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  z-index: 999;
  width: 240px;
  transition: width 0.1s ease;
}

.sidebar-body {
  background: #0c1427;
  border-right: 1px solid #344258;
  max-height: calc(100% - 60px);
  position: relative;
  height: 100%;
  box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
}
