<div class="row">
  <div class="col-lg-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
          class="rounded-circle img-fluid" style="width: 150px;">
        <h5 class="my-3">{{ffuser.displayName?ffuser.displayName:'Nome da impostare'}}</h5>
        <p class="text-muted mb-1">{{ffuser.ruolo?ffuser.ruolo:'Ruolo da impostare'}}</p>
        <div class="d-flex justify-content-center mb-2">
          <button type="button" class="btn btn-outline-primary ms-1">Invia messaggio</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Nome</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ffuser.displayName?ffuser.displayName:'Nome da impostare'}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ffuser.email?ffuser.email:'Email da impostare'}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Cellulare</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ffuser.cellulare?ffuser.cellulare:'Recapito da impostare'}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Indirizzo</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ffuser.indirizzo?ffuser.indirizzo:'Indirizzo da impostare'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
