<div class="row">
  <div class="col-md-12">
    <h3>Lista prodotti</h3>

    <div>
      <a href="#" class="btn btn-primary" [routerLink]="['/catalogo/prodotto']">
        Nuovo prodotto
      </a>
    </div>

    <table class="table table-striped" *ngIf="products$ | async as productsData">
      <thead>
        <tr>
          <th>Id</th>
          <th>Titolo</th>
          <th>Descrizione</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productsData">
          <td>{{ product.id }}</td>
          <td>{{ product.title }}</td>
          <td>{{ product.description }}</td>
          <td>
            <a href="" class="btn btn-primary" [routerLink]="['/catalogo/edit' , product.id]">Aggiorna</a>&nbsp;
            <button class="btn btn-danger" (click)="onDeleteProduct(product.id)">
              Elimina
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
