$primary: #1f34ff;
$primary-25: #1e3cff1a;
$success: #28cf64;
$success-25: #28cf641a;
$grey0: #646464;
$grey1: #777777;
$grey2: #d4d9db;
$grey3: #e1e9ef;
$grey4: #f2f3f4;
$grey5: #acacac;
$grey6: #9c9c9c;
$grey7: #ececec;
$white: #ffffff;
$danger: #cf2845;
$danger-25: #fae7eb;
$hematite: #00000080;
$accent: #00b1ff;
$red-125: #671109;
$red-100: #d52c20;
$yellow-125: #da9a34;
$yellow-100: #eecc5d;
$yellow-75: #fefe86;
$purple: #8f00ff;
$tooltip: #f1f4fe;
$orange: #fb7400;

$theme-colors: (
  primary: $primary,
  primary-25: $primary-25,
  success: $success,
  success-25: $success-25,
  grey0: $grey0,
  grey1: $grey1,
  grey2: $grey2,
  grey3: $grey3,
  grey4: $grey4,
  grey5: $grey5,
  grey6: $grey6,
  grey7: $grey7,
  white: $white,
  danger: $danger,
  danger-25: $danger-25,
  hematite: $hematite,
  accent: $accent,
  red-125: $red-125,
  red-100: $red-100,
  yellow-125: $yellow-125,
  yellow-100: $yellow-100,
  yellow-75: $yellow-75,
  purple: $purple,
  orange: $orange
);

:root {
  @each $key, $value in $theme-colors {
    --#{$key}: #{$value};
  }
}
